<!doctype html>
<html lang="en">

<%- include('../partials/head-products.ejs') %>

<body>

<%- include('../partials/nav-products.ejs') %>


            <div class="row">
                <div id="cards" class="card-group testcarts">
                    <% if (cartItems.length > 0)
                    {%>
                        <% cartItems.forEach(cartItems => { %>

                        <div class="col-sm-3"><div class="card border border-dark p-2 mb-3">
                                <img class="card-img-top animate__animated animate__fadeIn" src="<%=cartItems.image%>" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"><%=cartItems.name%></h5>
                                    <p class="card-text">$<%=cartItems.price%></p>

                                    <a class="single" href="/products/<%= cartItems._id %>">
                                        <!--                                        <p class="btn btn-warning">Edit product</p>-->

<!--                                        <a class="text-primary" href="<%=cartItems._id%>/edit">Edit</a>-->

                                    </a>
                                </div>
                            </div></div>
                        <%})%>
                    <%} else {%>
                        <p>There are no products to display.</p>
                    <%}%>
                </div>
            </div>



<!-- horizontal end-->
<div class="totalPriceBox">
    <h5>Total Price:</h5>
    <p class="totalPrice"></p>

</div>

<div>
    <button class="btn btn-secondary" onclick="ClearStorage()">Clear Cart</button>
    <button class="btn btn-success checkoutbtn"><a href="form.html">Check Out</a></button>
</div>

<div id="confirmclear"></div>

<%- include('../partials/login-modal.ejs') %>


<%- include('../partials/scripts-products.ejs') %>


</body>

</html>