<!doctype html>
<html lang="en">

<%- include('../partials/head-products.ejs') %>

<body>

<%- include('../partials/nav-products.ejs') %>

<div class="jumbotron jumbotron-fluid cart-bg col-sm">
    <div class="container">
        <h1 class="display-4">Shopping Cart</h1>
    </div>
</div>
<div class="container">

                <div id="cards" class="card-group testcarts">
                            <div class="container mediatest">

                                <div class="row">
                                    <main class="col-md-9 col-sm">
                                        <div class="card">
                                            <% if (cartItems){%>
                                                <% cartItems.forEach(cartItems => { %>

                                            <table class="table table-borderless table-shopping-cart">
                                                <thead class="text-muted">
                                                <tr class="small text-uppercase">
                                                    <th scope="col">Product</th>
                                                    <th scope="col" width="120">Quantity</th>
                                                    <th scope="col" width="120">Price</th>
                                                    <th scope="col" class="text-right" width="200"> </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>

                                                            <figure class="itemside">
                                                                <div class="aside">
                                                                    <img src="<%=cartItems.image%>" class="img-sm img-fluid" style="height:auto; width: 50%;">
                                                                </div>
                                                            <figcaption class="info">
                                                                <a href="#" class="title text-dark"><%=cartItems.name%></a>
<!--                                                                <p class="text-muted small">Size: XL, Color: blue, <br> Brand: Gucci</p>-->
                                                            </figcaption>
                                                        </figure>
                                                    </td>
                                                    <td>
                                                        <form action="/cart/out-cart" method="POST">
                                                        <input type="text" value ="<%=cartItems.quantity%>" size="1" name="quantity">

                                                    </td>
                                                    <td>
                                                        <div class="price-wrap">
                                                            <var class="price">$<%=cartItems.price * cartItems.quantity%></var>
                                                            <small class="text-muted">$<%=cartItems.price%> </small>
                                                        </div> <!-- price-wrap .// -->
                                                    </td>
                                                    <td class="text-right">
                                                        <div style="display:flex;justify-content:space-around;">
                                                            <input type="hidden" name="image" value="<%=cartItems.image%>">
                                                            <input type="hidden" name="name" value="<%=cartItems.name%>">
                                                            <input type="hidden" name="_id" value="<%=cartItems._id%>">
                                                            <input type="hidden" name="price" value="<%=cartItems.price%>">
                                                            <input type="submit"  class="fa fa-pen-nib fa-1x" value="&#xf5ac Update" style="background: none;padding:0;border:none;">
                                                            </form>

                                                            <form action="/cart/remove-cart" method="POST">
                                                                <input type="hidden" name="image" value="<%=cartItems.image%>">
                                                                <input type="hidden" name="name" value="<%=cartItems.name%>">
                                                                <input type="hidden" name="_id" value="<%=cartItems._id%>">
                                                                <input type="hidden" name="price" value="<%=cartItems.price%>">
                                                                <input type="submit"  class="icon-ctrl fa fa-ban fa-2x" value="&#xf05e">
                                                            </form>
                                                        </div>

<!--                                                        <a href="" class="btn btn-light"> Remove</a>-->
                                                    </td>

                                                    <%})%>
                                                    <%} else {%>
                                                        <h1>Your cart is super empty.</h1>
                                                    <%}%>
                                                </tr>
                                                </tbody>
                                            </table>


                                            <div class="card-body border-top">
                                                <a href="#" class="btn btn-warning float-md-right main-press"> Make Purchase <i class="fa fa-chevron-right"></i> </a>
                                                <a href="#" class="hide-icon"><i class="fa fa-credit-card fa-2x float-sm-right"></i></a>

                                                <a href="./products-display" class="btn btn-secondary main-press"><i class="fa fa-chevron-left"></i> Continue Shopping</a>
                                                <a href="./products-display" class="hide-icon"> <i class="fa fa-shopping-cart fa-2x float-sm-left"></i></a>
                                            </div>
                                        </div> <!-- card.// -->

                                        <div class="alert alert-success mt-3 hide-bar">
                                            <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
                                        </div>

                                    </main> <!-- col.// -->
                                    <aside class="col-md-3 scrollDown col-sm-12">
                                        <div class="card">
                                        </div>  <!-- card .// -->
                                        <div class="card">
                                            <div class="card-body">
                                                <dl class="dlist-align">
                                                    <% if (cartItems){%>
                                                        <%var sum = 0;%>
                                                    <% cartItems.forEach(cartItems => { %>
                                                        <%sum += cartItems.price * cartItems.quantity%>
                                                        <%})%>
                                                        <dt>Total price:</dt>$<%=sum%>
                                                        <dd class="text-right">SGD</dd>
                                                <%} else {%>
                                                        <dt>Total price:</dt> $0
                                                        <dd class="text-right">SGD</dd>

                                                        <%}%>

                                                </dl>


                                            </div> <!-- card-body.// -->
                                        </div>  <!-- card .// -->
                                    </aside> <!-- col.// -->
                                </div>

                            </div>



                </div>

</div>



<!-- horizontal end-->
<br>
<%- include('../partials/footer.ejs') %>


<%- include('../partials/login-modal.ejs') %>


<%- include('../partials/scripts-products.ejs') %>


</body>

</html>