<!doctype html>
<html lang="en">

<%- include('../partials/head-products.ejs') %>

<body>

<%- include('../partials/nav-products.ejs') %>

<div class="jumbotron jumbotron-fluid cart-bg col-sm rounded">
    <div class="container">
        <h1 class="display-4">Shopping Cart</h1>
    </div>
</div>
<div class="container">

                <div id="cards" class="card-group testcarts">
<!--                            <div class="container mediatest">-->

                                <div class="row">
                                    <main class="col-md-9 col-sm">
                                        <div class="card" style="background: transparent">
                                            <% if (Array.isArray(cartItems)&& cartItems.length>0){%>
                                                <% cartItems.forEach(cartItems => { %>

                                            <table class="table table-borderless table-shopping-cart">
                                                <thead class="text-muted">
                                                <tr class="small text-uppercase">
                                                    <th scope="col">Product</th>
                                                    <th scope="col" width="120">Quantity</th>
                                                    <th scope="col" width="120">Price</th>
<!--                                                    <th scope="col" width="120">Update</th>-->

                                                    <th scope="col" class="text-right-cart" width="200"> </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>

                                                            <figure class="itemside">
                                                                <div class="aside">
                                                                    <img src="data:image/jpeg;charset=utf-8;base64,<%=cartItems.image.toString('base64')%>" class="img-sm" style="height:auto; width: 50%;" alt="product">

                                                                </div>
                                                            <figcaption class="info">
                                                                <a href="#" class="title text-dark"><%=cartItems.name%></a>
<!--                                                                <p class="text-muted small">Size: XL, Color: blue, <br> Brand: Gucci</p>-->
                                                            </figcaption>
                                                        </figure>
                                                    </td>

                                                        <form action="/cart/out-cart" method="POST">
                                                            <td>
                                                                <div class="flex-button">
                                                                <button class="main-press icon-ctrl down-quantity"><i class="fa fa-minus-circle"></i></button>
                                                            <input class="number-display" type="text" value ="<%=cartItems.quantity%>" size="1" name="quantity" style="width: 30px;"><button class="main-press icon-ctrl up-quantity"><i class="fa fa-plus-circle"></i></button>
                                                                </div>

                                                    </td>
                                                    <td>
                                                        <div class="price-wrap">
                                                            <var class="price">$<%=cartItems.price * cartItems.quantity%></var>
<!--                                                            <small class="text-muted">$<%=cartItems.price%> </small>-->
                                                        </div> <!-- price-wrap .// -->
                                                    </td>
                                                    <td class="text-right-cart">
                                                        <div style="display:flex;justify-content:flex-start;">
                                                            <input type="hidden" name="image" value="<%=cartItems.image%>">
                                                            <input type="hidden" name="name" value="<%=cartItems.name%>">
                                                            <input type="hidden" name="_id" value="<%=cartItems._id%>">
                                                            <input type="hidden" name="price" value="<%=cartItems.price%>">
<!--                                                            <div class ="hide-icon"><input type="submit"  class="fa fa-pen-nib fa-1x hide-icon" value="&#xf5ac">-->
                                                            </div>
<!--                                                            <div class ="main-press">-->
<!--                                                            <input type="submit"  class="fa fa-pen-nib fa-1x main-press icon-ctrl" value="&#xf5ac Update">-->
                                                                <input type="submit" class="btn btn-outline-dark btn-sm mb-2 width" value="Update">

<!--                                                            </div>-->
                                                                </form>

                                                            <form action="/cart/remove-cart" method="POST">
                                                                <input type="hidden" name="image" value="<%=cartItems.image%>">
                                                                <input type="hidden" name="name" value="<%=cartItems.name%>">
                                                                <input type="hidden" name="_id" value="<%=cartItems._id%>">
                                                                <input type="hidden" name="price" value="<%=cartItems.price%>">
<!--                                                                <div class="main-press icon-ctrl"><input type="submit"  class="icon-ctrl fa fa-ban fa-1x" value="&#xf05e"></div>-->
                                                                <div><input type="submit"  class="btn btn-sm btn-danger width" value="Remove"></div>

                                                            </form>
                                                        </div>

<!--                                                        <a href="" class="btn btn-light"> Remove</a>-->
                                                    </td>

                                                    <%})%>
                                                    <%} else {%>
                                                        <h1>Your cart is super empty right now.</h1>
                                                    <%}%>
                                                </tr>
                                                </tbody>
                                            </table>

<!--                                        <hr>-->

                                            <div class="card-body border border-dark rounded">
                                                <form action="/pay" method="POST">
                                                    <% if (cartItems){%>
                                                        <%var sum = 0;%>
                                                        <% cartItems.forEach(cartItems => { %>
                                                        <%sum += cartItems.price * cartItems.quantity%>
                                                        <%})%>
                                                        <input type="hidden" name="name" value="<%=cartItems.name%>">
                                                        <input type="hidden" name="price" value="<%=cartItems.price%>">
                                                        <input type="hidden" name="quantity" value="<%=cartItems.quantity%>">
                                                        <input type="hidden" name="totalprice" value="<%=sum%>">
                                                    <%}%>

                                                    <button type="submit" id ="paypal-button" class="btn btn-warning float-md-right main-press"> Checkout <i class="fa fa-chevron-right"></i></button>
                                                </form>

                                                <a href="./products-display" class="main-press btn btn-outline-dark"><i class="fa fa-chevron-left"></i> Continue Shopping</a>
<!--                                                <a href="./products-display" class="hide-icon btn btn-outline-dark">Continue Shopping</a>-->
                                                <a href="./products-display" class="hide-icon btn btn-outline-dark mt-1">Continue Shopping</a>
                                            </div>
                                        </div> <!-- card.// -->

<!--                                        <div class="alert alert-success mt-3 hide-bar">-->
<!--                                            <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>-->
<!--                                        </div>-->

                            </main>
                                    <aside class="col-md-3 scrollDown col-sm-12">
                                        <div class="card">
                                        </div>  <!-- card .// -->
                                        <div class="card">
                                            <div class="card-body">

                                                <dl class="dlist-align justify-content-center">
                                                    <div class="">
                                                    <% if (cartItems){%>
                                                        <%var sum = 0;%>
                                                    <% cartItems.forEach(cartItems => { %>
                                                        <%sum += cartItems.price * cartItems.quantity%>
                                                        <%})%>
                                                        <dt>Total price</dt>$<%=sum%>
<!--                                                        <dd class="text-right-cart">SGD</dd>-->
                                                <%} else {%>
                                                        <dt>Total price:</dt> $0
                                                        <dd class="text-right-cart">SGD</dd>
                                                </div>
                                                        <%}%>
                                                        <div class="">
                                                        <form action="/pay" method="POST">
                                                            <% if (cartItems){%>
                                                                <%var sum = 0;%>
                                                                <% cartItems.forEach(cartItems => { %>
                                                                <%sum += cartItems.price * cartItems.quantity%>
                                                                <%})%>
                                                                <input type="hidden" name="name" value="<%=cartItems.name%>">
                                                                <input type="hidden" name="price" value="<%=cartItems.price%>">
                                                                <input type="hidden" name="quantity" value="<%=cartItems.quantity%>">
                                                                <input type="hidden" name="totalprice" value="<%=sum%>">
                                                            <%}%>
<!--                                                            <button type="submit" class="hide-icon float-sm-right btn btn-success">Make Purchase</button>-->
                                                                <br>
                                                            <button type="submit" class="hide-icon btn btn-warning btn-block">Checkout</button>
                                                        </form>
                                                        </div>

                                                </dl>


                                            </div> <!-- card-body.// -->
                                        </div>  <!-- card .// -->
                                    </aside> <!-- col.// -->
<!--                                </div>-->

                            </div>



                </div>

</div>



<!-- horizontal end-->
<br>
<%- include('../partials/footer.ejs') %>


<%- include('../partials/login-modal.ejs') %>


<%- include('../partials/scripts-products.ejs') %>


</body>

</html>