<!doctype html>
<html lang="en">

<%- include('../partials/head-products.ejs') %>

<body>

<%- include('../partials/nav-products.ejs') %>


            <div class="row">
                <div id="cards" class="card-group testcarts">
                    <% if (cartItems)
                    {%>
                        <% cartItems.forEach(cartItems => { %>


                                <div class="card-body">
                                    <h5 class="card-title"><%=cartItems.name%></h5>
                                    <p class="card-text">$<%=cartItems.price%></p>
                                    <form>
                                   <input type="submit" class="remove-one" value="remove">
                                    </form>

                                    <a class="single" href="/products/<%= cartItems._id %>"></a>
                                        <!--                                        <p class="btn btn-warning">Edit product</p>-->

<!--                                        <a class="text-primary" href="<%=cartItems._id%>/edit">Edit</a>-->

                                </div>

                        <%})%>
                    <%} else {%>
                        <p>There are no products to display.</p>
                    <%}%>
                </div>
            </div>



<!-- horizontal end-->
<div class="totalPriceBox">
    <h5>Total Price:</h5>
    <p class="totalPrice"></p>

</div>

<div>
    <button class="btn btn-secondary" onclick="ClearStorage()">Clear Cart</button>
    <button class="btn btn-success checkoutbtn"><a href="form.html">Check Out</a></button>
</div>

<div id="confirmclear"></div>

<br>
<%- include('../partials/footer.ejs') %>


<%- include('../partials/login-modal.ejs') %>


<%- include('../partials/scripts-products.ejs') %>


</body>

</html>