<!doctype html>
<html lang="en">

<%- include('../partials/head-products.ejs') %>

<body>

<%- include('../partials/nav-products.ejs') %>

<div class="create-blog content container">
    <h1>Add New Product</h1>
    <form action="/products" method="POST">

    <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" class="form-control" name="name" required>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" class="form-control" name="description" required>
        </div>

        <div class="form-group">
            <label for="imageURL">Image URL:</label>
            <input type="text" id="imageURL" class="form-control" name="imageURL" required>
        </div>

        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" class="form-control" name="price" required>
        </div>

        <div class="form-group">
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" class="form-control" name="quantity" required>
        </div>

        <button class="btn btn-primary">Submit</button>
    </form>
    <!--    <button class="testjs">JS Test</button>-->
</div>

<br>

<div class="container">
    <div class="products content">
        <h1>Edit Products</h1>
        <div class="container-fluid">
            <div class="row">
            </div>
            <div class="row">
                <div id="cards" class="card-group testcarts">
                    <% if (products.length > 0)
                    {%>
                        <% products.forEach(product => { %>

                        <div class="col-sm-3"><div class="card p-1">
                                <img class="card-img-top animate__animated animate__fadeIn" src="<%=product.imageURL%>" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"><%=product.name%></h5>
                                    <p class="card-text">$<%=product.price%></p>

                                    <a class="single" href="/products/<%= product._id %>">
                                        <p class="btn btn-warning">Edit product</p>

<!--                                        TODO: Make delete button work from this page-->


<!--                                        <a class="delete" data-doc="<%= product._id %>">-->
<!--                                            Delete-->
<!--                                        </a>-->
<!--                                        <a href="<%=product._id%>/edit">Edit</a>-->
                                    </a>
                                </div>
                            </div></div>
                        <%})%>
                    <%} else {%>
                        <p>There are no products to display.</p>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/login-modal.ejs') %>



<!--Add update product here-->
<!-- UNDER CONSTRUCTION: FOOTER -->

<%- include('../partials/scripts-products.ejs') %>


</body>

</html>