<!doctype html>
<html lang="en">

<%- include('../partials/head-create.ejs') %>

<body>

<%- include('../partials/nav-products.ejs') %>

<div class="create-blog content container-fluid">
    <h1>Add New Product</h1>
    <form action="/products" method="POST">

    <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" class="form-control" name="name" required>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" class="form-control" name="description" rows="5" required></textarea>
        </div>

        <div class="form-group">
            <label for="imageURL">Image URL:</label>
<!--            <input type="text" id="imageURL" class="form-control" name="imageURL" required>-->
            <input type="file" id="imageURL" class="filepond" name="imageURL" required>
        </div>

        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" class="form-control" name="price" required>
        </div>

        <div class="form-group">
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" class="form-control" name="quantity" required>
        </div>

        <button class="btn btn-primary">Submit</button>
<!--        <a href="/users/logout" class="btn btn-warning">Log Out</a>-->
    </form>
    <!--    <button class="testjs">JS Test</button>-->
</div>

<br>

    <div class="products content">
        <div class="container-fluid">
            <h1>Edit Products</h1>

            <div class="row">
            </div>
            <div class="row">
                <div id="cards" class="card-group testcarts">
                    <% if (products.length > 0)
                    {%>
                        <% products.forEach(product => { %>

                        <div class="col-sm-3"><div class="card border border-dark p-2 mb-3">
                                <img class="card-img-top animate__animated animate__fadeIn" src="data:image/jpeg;charset=utf-8;base64,<%=product.imageURL.toString('base64')%>" alt="product image">                                <div class="card-body">
                                    <h5 class="card-title"><%=product.name%></h5>
                                    <p class="card-text">$<%=product.price%></p>

                                    <a class="single" href="/products/<%= product._id %>"></a>
<!--                                        <p class="btn btn-warning">Edit product</p>-->

                                        <a class="text-primary" href="<%=product._id%>/edit">Edit</a>
                                        &nbsp

                                </div>
                            </div></div>
                        <%})%>
                    <%} else {%>
                        <p>There are no products to display.</p>
                    <%}%>
                </div>
            </div>
        </div>
    </div>

<%- include('../partials/footer.ejs') %>

<%- include('../partials/login-modal.ejs') %>

<%- include('../partials/scripts-products.ejs') %>

</body>

</html>