<!doctype html>
<html lang="en">

<%- include('../partials/head-products.ejs') %>

<body>

<%- include('../partials/nav-products.ejs') %>

<div class="details content container">
    <div class="row">
        <div id="cards" class="card-group">
            <div class="col-md-6">
                <div class="card p-2 border border-dark">
                    <img class="card-img-top animate__animated animate__fadeIn" src="data:image/jpeg;charset=utf-8;base64,<%=product.imageURL.toString('base64')%>" alt="product image">                </div>
            </div>
            <div class="col-md-6 align-self-center pt-3">
            <h2><%=product.name%>, $<%= product.price %></h2>
            <div class="content">
                <p style="white-space: pre-line;"><%= product.description %></p>
<!--                <p style="white-space: pre-line;">$<%= product.price %></p>-->
                <form action="/cart/in-cart" method="POST">
                    <input type="hidden" name="name" value="<%=product.name%>">
                    <input type="hidden" name="_id" value="<%=product._id%>">
                    <input type="hidden" name="price" value="<%=product.price%>">
                    <input type="hidden" name="image" value="<%=product.imageURL.toString('base64')%>">
                    <input id="addToCart" type="submit" class="btn btn-warning btn-block" value="Add to cart">
                </form>
                <br>
                <a href="./products-display"><button class="btn btn-outline-dark btn-block">Continue shopping</button></a>

            </div>
            </div>
        </div>
    </div>
</div>
<br>
<%- include('../partials/footer.ejs') %>

<%- include('../partials/login-modal.ejs') %>

<%- include('../partials/scripts-products.ejs') %>

</body>

</html>