<!doctype html>
<html lang="en">

<%- include('../partials/head-products.ejs') %>

<body>

<%- include('../partials/nav-products.ejs') %>

<div class="details content container">
    <div class="row">
        <div class="col-6">
            <img class="animate__animated animate__fadeIn" src="<%=product.imageURL%>" alt="product image" style="max-width: 70%">
        </div>
        <div class="col-6 my-auto border border-dark p-5 rounded">
            <h2><%=product.name%></h2>
            <div class="content">
                <p style="white-space: pre-line;"><%= product.description %></p>
                <p style="white-space: pre-line;">$<%= product.price %></p>
                <form action="/cart/in-cart" method="POST">
                    <input type="hidden" name="name" value="<%=product.name%>">
                    <input type="hidden" name="_id" value="<%=product._id%>">
                    <input type="hidden" name="price" value="<%=product.price%>">
                    <input type="hidden" name="image" value="<%=product.imageURL%>">
                    <input id="addToCart" type="submit" class="btn btn-warning" value="Add to cart">
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<%- include('../partials/footer.ejs') %>

<%- include('../partials/login-modal.ejs') %>

<%- include('../partials/scripts-products.ejs') %>

</body>

</html>