<!doctype html>
<html lang="en">

<%- include('../partials/head-products.ejs') %>

<body>

<%- include('../partials/nav-products.ejs') %>

<div class="details content container">
    <div class="row">
        <div id="cards" class="card-group">
            <div class="col-md-6">
                <div class="card p-2 border border-dark mb-4">
                    <img class="animate__animated animate__fadeIn card-img-top" src="<%=product.imageURL%>" alt="<%=product.name%>">
                </div>
            </div>
            <div class="col-md-6 align-self-center">
            <h2><%=product.name%>, $<%= product.price %></h2>
            <div class="content">
                <p style="white-space: pre-line;"><%= product.description %></p>
<!--                <p style="white-space: pre-line;">$<%= product.price %></p>-->
                <form action="/cart/in-cart" method="POST">
                    <input type="hidden" name="name" value="<%=product.name%>">
                    <input type="hidden" name="_id" value="<%=product._id%>">
                    <input type="hidden" name="price" value="<%=product.price%>">
                    <input type="hidden" name="image" value="<%=product.imageURL%>">
                    <input id="addToCart" type="submit" class="btn btn-warning btn-block" value="Add to cart">
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
<br>
<%- include('../partials/footer.ejs') %>

<%- include('../partials/login-modal.ejs') %>

<%- include('../partials/scripts-products.ejs') %>

</body>

</html>