<!doctype html>
<html lang="en">

<%- include('../partials/head-products.ejs') %>

<body>

<%- include('../partials/nav-products.ejs') %>

<div class="products content">
    <h2>All Products</h2>
    <div class="container-fluid">
        <div class="row">
        </div>
        <div class="row">
            <div id="cards" class="card-group testcarts">
    <% if (products.length > 0)
    {%>
        <% products.forEach(product => { %>

        <div class="col-sm-3"><div class="card p-1">
                <img class="card-img-top animate__animated animate__fadeIn" src="<%=product.imageURL%>" alt="">
                <div class="card-body">
                    <h5 class="card-title"><%=product.name%></h5>
                    <p class="card-text">$<%=product.price%></p>

<!--                    TODO: Add back link to product details once delete button works from admin page-->

<!--                            <a class="single" href="/products/<%= product._id %>">-->
<!--                                    <p>Click here for details.</p>-->
<!--                                </a>-->

                    <button id="addToCart" type="button" class="btn btn-warning">Add to cart</button>
                </div>
            </div></div>
        <%})%>
    <%} else {%>
        <p>There are no products to display.</p>
    <%}%>
</div>
        </div>
    </div>
</div>

<%- include('../partials/login-modal.ejs') %>

<!-- UNDER CONSTRUCTION: FOOTER -->

<%- include('../partials/scripts-products.ejs') %>

</body>



</html>