<!doctype html>
<html lang="en">

<%- include('../partials/head-products.ejs') %>

<body>

<%- include('../partials/nav-products.ejs') %>

<div class="products content">
    <div class="container-fluid">
        <h2>Shop</h2>

        <div class="row">
        </div>
        <div class="row">
            <div id="cards" class="card-group testcarts">
    <% if (products.length > 0)
    {%>
        <% products.forEach(product => { %>

        <div class="col-sm-6 col-md-3"><div class="card p-2 border border-dark mb-4">
                <a href="/products/<%= product._id %>"><img class="card-img-top animate__animated animate__fadeIn" src="data:image/jpeg;charset=utf-8;base64,<%=product.imageURL.toString('base64')%>" alt="product image"></a>
                <div class="card-body">
                    <a class="text-dark" href="/products/<%= product._id %>"><h5 class="card-title"><%=product.name%></h5>

                    <p class="card-text">$<%=product.price%></p></a>


<!--                            <a class="single" href="/products/<%= product._id %>">-->
<!--                                    <p>Click here for details.</p>-->
<!--                                </a>-->
<!--                    <form action="/cart/in-cart" method="POST">-->
<!--                        <input type="hidden" name="image" value="<%=product.imageURL%>">-->
<!--                        <input type="hidden" name="name" value="<%=product.name%>">-->
<!--                        <input type="hidden" name="_id" value="<%=product._id%>">-->
<!--                        <input type="hidden" name="price" value="<%=product.price%>">-->
<!--                        <input type="hidden" name="image" value="<%=product.imageURL%>">-->
<!--                    <input id="addToCart" type="submit" class="btn btn-warning btn-block" value="Add to cart">-->
<!--                    </form>-->
                </div>
            </div></div>

        <%})%>
    <%} else {%>
        <p>There are no products to display.</p>
    <%}%>
</div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>


<%- include('../partials/login-modal.ejs') %>

<!-- UNDER CONSTRUCTION: FOOTER -->

<%- include('../partials/scripts-products.ejs') %>

</body>



</html>