<!doctype html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>

<%- include('../partials/nav-products.ejs') %>

<div class="products content">
    <h2>All Products</h2>
    <% if (products.length > 0)
    {%>
        <% products.forEach(product => { %>
        <h3 class="name"><%=product.name%></h3>
        <p class="snippet">$<%=product.price%></p>
        <button id="addToCart" type="button" class="btn btn-warning">Add to cart</button>
        <a class="single" href="/products/products-display<%= product._id %>">
                <p>Find out more</p>
            </a>
        <hr>
        <%})%>
    <%} else {%>
        <p>There are no products to display.</p>
    <%}%>
</div>

<%- include('../partials/login-modal.ejs') %>

<!-- UNDER CONSTRUCTION: FOOTER -->

<%- include('../partials/scripts.ejs') %>

</body>

</html>